{% extends "master.html"%}

{%block "content"%}
<h3>{{msg}}</h3>
<form method="post">
    {% csrf_token%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <title>Login</title>
    <style>
        .contain
        {
            background-image: url("/static/images/signup2.jpg");
            background-size:cover;
            color: black;
       
        }

</style>
</head>
<body class="contain">
    <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
            
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
       
            <div class="div">
                <h2>Login</h2>
            </div>
         
          <div class="form-outline mb-4">
            <label class="form-label" >User Name</label>
            <input type="text" name="uname" class="form-control" />
            
          
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" >Password</label>
            <input type="password" name="pwd" class="form-control" />
            
          </div><br>

         
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary">Sign in</button>


            <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
            <p>Don't have an account? <br><a href="/SignUp" class="link-info">create account</a></p>

          </form>
      </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}


